
<div class="shell-wrapper">
    <h1>Choose the Application</h1>
        <div class="icons-wrapper">
            <div class="icon">
                <mat-icon>how_to_reg</mat-icon>
                <p>Users and Settings</p>
            </div>
        <div class="icon" [routerLink]="['/data/table']">
            <mat-icon>dashboard</mat-icon>
            <p>Unified Data Menager</p>
        </div>
        <div class="icon">
            <mat-icon>memory</mat-icon>
            <p>Logic Engine</p>
        </div>
    </div>
</div>

